.maincontainer {
    font-size: 3.2rem;
    color: rgb(4, 4, 250);
    font-family: Diplomata;
    font-weight: bold;
    /* Do you activate this below section please activate classes of this (.b, .c, .f)  */
    position: absolute; left: 3%; top: 0%;
    

}

.a,
.b,
.c,
.d,
.e,
.f {
    position: absolute;
}

.e {
    color: red;
    left: 2.5rem;
    /* Please open this for animation */
     animation-name: spin; 
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {

        transform: rotate(359deg);
    }
}

.a {
    left: 3.5rem;
}

.b {
     /* please open this main container for position change with acyivte toggle line comment on the duplicate top value. */
    top: -1.3rem;
    /* top: -25px; */
    transform: rotate(45deg);
    left: 3.8rem;
}

.c {
    left: 2rem;
    /* please open this main container for position change with acyivte toggle line comment on the duplicate top value */
    top: 10px;   
    /* top: 20px; */
    transform: rotate(250deg);
}

.d {
    left: 33px;
}

.f {
     /* please open this main container for position change with acyivte toggle line comment onthe duplicate top value */
    top: -2.1rem;
    /* top: -40px; */
    left: 4rem;
    transform: rotate(200deg);
}



      * {
        box-sizing: border-box;
      }
      
      input[type=text], [type=number], [type=email],  select, textarea{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }
      
      label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }
      
      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      .container {
        border-radius: 5px;
        /* background-color: #f2f2f2; */
        padding: 20px;
      }
      
      .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
      }
      
      .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
      }
      @media screen and (min-width: 601px) {
        h1,h3,#logoanimation {
          font-size: 80px;
        }
      }
      
      @media screen and (max-width: 600px) {
        h1,h3,#logoanimation {
          font-size: 30px;
        }
      }
     
